/* ________________________________________
              DENISE
________________________________________ */

#links a {
  
	text-decoration: none;
/*	color: rgba(158,131,41,1.00);*/
	font-size: 24px;
	color: rgba(158,131,41,1.00);
	
/*	position: absolute;*/
/*	bottom: 0px;*/
/*	background-color: blue;*/
/*	position: absolute;*/
/*	position: fixed;*/
/*	bottom: 0px;*/
/*	text-decoration: none;*/
/*	display: block;lines up */
/*	text-align: center;*/
/*	font-size: 32px;*/
	font-family: 'Playfair Display', serif;
/*	color: silver;*/
/*	top: 900px;*/
/*	bottom: 100px;*/
/*	margin-bottom: 5px;*/
	
	
}

#links a:hover { color: rgba(158,131,41,1.00);
text-decoration: underline;}
#links a:visited { color: silver;}
#links a:active { color: yellow;}


#link {
	
	background-size: cover;
	
	
}

#lin_h3 {
	
	position: absolute;
	font-size: 88px;
	top: 45px;
	left: 270px;
	color: #735F05;	
	font-family: 'Playfair Display', serif;

}

#h4_id {
	
	position: absolute;
	font-size: 56px;
	top: 210px;
	left: 520px;
	color: #C7BEA3;
	font-family: 'Playfair Display', serif;

}

#p1 {
	
	position: absolute;
/*	background-color: blue;*/
	width: 680px;
/*	height: 550px;*/
	font-size: 25px;
	top: 330px;
	left: 350px;
/*	color: #826734;*/
/*	color: #A08957;*/
	color: #C1B094;
	font-family: 'Playfair Display', serif;

}

#tut {
	
	position: absolute;
/*	top: 525px;*/
	top: 105px;
	left: 15px;
/*	color: rgba(158,131,41,1.00);*/

}

#ns {
	
	position: absolute;
	top: 155px;
	left: 10px;
/*	color: rgba(158,131,41,1.00);*/
	
}

#sp {
	
	position: absolute;
	top: 200px;
	left: 15px;
/*	color: rgba(158,131,41,1.00);*/
	
}

#book {
	
	position: absolute;
	top: 250px;
	left: 15px;
/*	color: rgba(158,131,41,1.00);*/
	
}


/*
#yu {
	
	position: absolute;
	top: 525px;
	left: 770px;
	color: rgba(104,67,0,1.00);
	
}
*/
/* ________________________________________
              DANAYA
________________________________________ */

body {
  margin: 0;
  padding: 0;
}

.fa {
  float: left;
  padding-right: 5px;
}

header {
  position: relative;
  background-color: #3D84A8;
  color: white;
  padding-bottom: 50px;
}

.nav {
  position: absolute;
  bottom: 0px;
}

.nav-item {
  color: black;
  border-right: 2px solid gray;
  background-color: white;
}

.nav-link {
  color: #41454c;
}

.main {
  text-align: center;
}

.main h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 0px;
}

.main p {
  font-family: "Open Sans";
  font-weight: 100;
  line-height: 1.5;
  padding-bottom: 50px;
}

.gallery {
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.logo2 {
  width: 250px;
  height: 100px;
  margin-right: 20px;
}

.studpic {
  height: 500px;
  width: 100%;
}

.stuffpic {
  height: 500px;
  width: 100%;
  margin-bottom: 5px;
}

.card-footer {
  font-size: 13px;
  text-align: center;
  background-color: #3D84A8;
  color: #46494f;
  margin-top: 30px;
}

/* ________________________________________
              SAFA
________________________________________ */

.paragraph {
  text-align: left;
}

.name {
  text-align: center;
}
